@-webkit-keyframes pheromoneFadeOut {
  0%   { opacity: .5; }
  100% { opacity: 0; }
}

svg {
  circle {
    transform: translate(-50%, -50%);

    &.pheromone {
      -webkit-animation: pheromoneFadeOut 50s;
      animation: pheromoneFadeOut 50s;

      &.stronger {
        -webkit-animation-duration: 100s;
        animation-duration: 100s;
      }
    }
  }
}
